@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
  background: #FAF0E3;
  font-family: 'Muli', sans-serif;
  color:#245CA6;
}

li{
  list-style-type: none;
  margin-left:-40px;
}

h1{
  font-weight:bold;
}

#logo{
 width:60%;
 margin:auto;
 display:block;
 padding-bottom:1em;
}

.createLinkBox{
/*  margin:auto;
  display:block;*/
  text-align:center;
  text-decoration: none;
  width:100%;
  color:#245CA6;
  border-top:2px solid black;
  border-bottom:2px solid black;
  height:45px;
}

.createLink{
/*  margin:auto;
  display:block;*/
  /*text-align:center;*/
  text-decoration: none;
  width:200px;
  color:#245CA6;
}

.createLinkContent{
/*  margin:auto;
  display:block;*/
  position:absolute;
  right:0;
  margin-right:240px;
  text-align:center;
  text-decoration: none;
  width:200px;
  color:#245CA6;
  font-size:.8em;
}

/*grid*/
.user-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1150px;
  margin: 0 auto;
  margin-top:10px;
}

.grid-figure{
  max-width:200px;
  background-color: white;
}
.grid-figure-wrap{
  max-width:200px;
  height:330px;
  /*background-color: red;*/
}
.grid-figure-wrap div ul li{
  text-align:center;
}
/*single*/
#photo{
  max-width:200px;
}

.single-user {
  position: relative;
  max-width: 600px;
  float:left;
  margin-left:0px;
}

.grid-user {
  width: calc(100% + 4rem);
  margin-left: -2rem;
  margin-top: -2rem;
  max-width: none;
}

.grid-user-wrap {
  position: relative;
}

/*user edit/create*/
#editUserBox{
  margin:auto;
  display:block;
  width:900px;
  height:350px;
  /*background-color:red;*/
}
.edit{
  position:relative;
  width:540px;
  height:200px;
  margin-left:300px;
  /*background-color:green;*/
}

.edit button{
  min-width:100%;
}

h3{
  width:100%;
  border-top:2px solid black;
  border-bottom:2px solid black;
  text-align: center;
  padding-top:12px;
  padding-bottom:12px;
  font-size:.9em;

}

div label{
  width:200px;
  margin-left:0px;
}

div label input{
  min-width:100%;
  height:20px;
}

div label select{
  margin-left:.2em;
  margin-top:12px;
}

.create{
  position:relative;
  margin: 0 auto;
  display:block;
  width:100%;
  height:200px;
}

.createInnerBox{
  width:600px;
  margin: 0 auto;
  display:block;
}

.create div label input{
  min-width:100%;
  height:20px;
}

.create div button{
  min-width:100%;
}

/*buttons*/
.control-buttons {
  display: flex;
  justify-content: space-between;
}
button,
.button {
  border: 2px solid #245CA6;
  display: inline-block;
  margin-top:10px;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  color: #245CA6;
  transition: all 0.2s;
  box-sizing: padding-box;
  width:290px;
  height:30px;
}
button:hover,
.button:hover,
button:focus,
.button:focus {
  border-color: #A3C7ED;
  color: #A3C7ED;
  outline: 0;
  cursor:pointer;
}

#deleteButton{
  color:red;
}
#deleteButton:hover{
  color:black;
  background-color:red;
  border-color: red;
}
